@import url(normalize.css);
@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

.doto-500 {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
  font-variation-settings:
    "ROND" 0;
}

/* General styles */

body{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-image: url('../img/fondoMadera.jpeg');
    
}

.zonaDado{ 
    width: 200px;
    height: 200px;

    background-image: url('../img/dadoVector.svg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;


    /* box-shadow para el svg */
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    /* se hace border radius porque el div es cuadrado */
    border-radius: 40px; 



    & h1.numerocara{
      user-select: none;
      font-size: 100px;
      color: #333333;
      font-family: "Doto", sans-serif;
     
    }
}

/* Button styles */
.btn{
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #F67300;
    color: white;
    font-size: 30px;
    font-family: "Doto", sans-serif;
    
    /* no tenemos href y hay que hacer que funcione como un enlace -> poner cursor pointer */
    cursor: pointer; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    user-select: none; /* evitar que se seleccione el texto al hacer click */;
}